.pagination_services {
  padding-bottom: 90px;
}
.paginatoion__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 401px;
}

.pagination__display.pagination__display_services {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-left: 13px;
}

.pagination__display_services {
  color: #000000;
}

.pagination__list {
  width: 239px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__link_active.pagination__link_services {
  color: #ffffff;
  background-color: #f5170e;
}

.pagination__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.pagination__link_services {
  color: #000000;
}

.pagination__link_services:hover {
  color: #ffffff;
  background-color: #f5170e;
}
