.wrapper {
  min-height: 100%;
  display:flex;
  flex-direction: column;
  overflow:hidden;
  min-width: 1180px;
  
}

.wrapper_main {
background-color: #001821;
}

.background-image {
  flex: 1 0 auto;
  background: url(./../../../images/bg/hero.jpg) top center no-repeat,
    url(./../../../images/bg/bottom-pic.jpg) bottom center no-repeat;
}
